<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnAllIssues="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <env name="O2_HOST" value="http://localhost:5080"/>
        <env name="O2_ORGANIZATION_ID" value="default"/>
        <env name="O2_STREAM" value="default"/>
        <env name="O2_USERNAME" value=""/>
        <env name="O2_PASSWORD" value=""/>
    </php>
</phpunit>
